/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #4D4640;
	background-color:#fff;
}
img {
	max-width: 100%;
}
a img{
	vertical-align: middle;
}
a:link,
a:visited {
	color: #f68f67;
	text-decoration: none;
}
a:hover,
a:visited:hover {
	color: #bde2df;
	text-decoration: none;
}
a.code-link,
a.paper-link{
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
a.code-link span,
a.paper-link span{
	display: none;
	vertical-align: middle;
	
}
a.code-link{
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	background: #fff url('../images/code-24.png') no-repeat center center;
}
a.paper-link{
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	background: #fff url('../images/clip-16.png') no-repeat center center;
}

ul, li{
	list-style: none;
}


/* Navigation */
.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#fff;
	z-index:1000;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
.menu nav {
	text-align: right;
	margin: 15px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	margin:0 25px;
	padding:0 0 10px 0;
}
.navigation li:hover{
	cursor:pointer;
	/*color: #a9d3d0;*/
	border-bottom: 3px solid #DB5432;
}

.navigation .active{
	cursor:pointer;
	border-bottom: 3px solid #DB5432;
}


/* General Slides */ 
.slide {
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}
.slide h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 1em;
	font-weight: 700;
	margin-bottom:.5em
}
.slide h2 {
	font-size: 2em;
	line-height: 1em;
	margin: 1em auto;
	font-weight: 400;
}
.slide p{
	margin:auto 15px;
}

/* Slide 1 */
#slide1 h1 {
	text-transform:capitalize;
    font-variant:small-caps;
    font-weight: bold;
}
#slide1 h2{
	margin-bottom: .4em;
}
#slide1 h4{
	margin-bottom:.8em;
}

#slide1 footer{
	margin-top: 3em;
}

#slide1 footer #skills{
	margin: 0 20px;
}

#slide1 .skill-box{
	display: inline-block;
	font-size: small;
	color: #fff;
	background-color: #DB5432;
	padding: 1px 15px 4px 15px;
	margin:5px;
	border-radius: 3px;
	box-shadow:1px 1px 0px rgba(50, 50, 50, 0.35);
	white-space:nowrap;
}

/* Slide 2 */
#education #timeline{
	text-align: left;
}


/* Slide 3 */
#slide3 h2{
	font-size: 1.2em;
}
#slide3 small{
	font-size: .7em;
}
#slide3 .content ul{
	text-align: left;
}
#slide3 .content li{
	margin-bottom: 3px; 
}


/* Slide 4 */
#slide4{
	background-image:url('../images/grey_wash_wall.png');
	background-color:#8a8683;
	color:#fff;
}
#slide4 h1,
#slide4 h2 {
	color:#fff;
}
#slide4 footer{
	position: absolute;
	bottom: .4em;
	right: .8em;
	font-size: 0.8em;
}

#contacts{
	font-size: 1.4em;
	text-align: center;
	margin: 0 auto;
}
#social-icons{
	list-style: none;
	width: 768px;
	margin:0 auto;
	padding: 0;
}
#social-icons:after {
	content: "";
	display: table;
	clear: both;
}
#social-icons li{
	float: left;
	display: inline-block;
}
#social-icons li a{
	display: inline-block;
	height: 128px;
	width: 128px;
	background-size: 128px 128px;
	background-position: center center;
	background-repeat: no-repeat;
	margin:0;
}
#social-icons li a span{
	display: none;
}

.social-gmail{
	background-image: url('../images/gmail-128.png');
}
.social-googleplus{
	background-image: url('../images/googleplus-128.png');
}
.social-github{
	background-image: url('../images/github-128.png');
}
.social-bitbucket{
	background-image: url('../images/bitbucket-128.png');
}
.social-linkedin{
	background-image: url('../images/linkedin-128.png');
}
.social-twitter{
	background-image: url('../images/twitter-128.png');
}

/* Tablet Landscape */
@media screen and (max-width: 1024px) {

	.decorative {
		display:none;
	}

	.slide .content {
		text-align:center;
		width:100%;
	}

	#social-icons{
		width: 384px;
	}

}

/* Tablet Protrait */
@media screen and (max-width: 768px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	.menu nav {
		width:100%;
		text-align:center;
	}

	.menu .container{
		width: 100%;
	}

	.navigation{
		width: 100%;
		text-align: center;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width: 23%;
		margin:0 1%;
		padding:0 0 15px;
	}

	.slide{
		text-align: center;
	}

	#education .diploma{
		margin-bottom: 15px;
	}

	#social-icons{
		width: 384px;
	}

	#social-icons li a{
		height: 64px;
		width: 64px;
		background-size: 64px 64px;
	}

	.social-gmail{
		background-image: url('../images/gmail-64.png');
	}
	.social-googleplus{
		background-image: url('../images/googleplus-64.png');
	}
	.social-github{
		background-image: url('../images/github-64.png');
	}
	.social-bitbucket{
		background-image: url('../images/bitbucket-64.png');
	}
	.social-linkedin{
		background-image: url('../images/linkedin-64.png');
	}
	.social-twitter{
		background-image: url('../images/twitter-64.png');
	}
}

/* Mobile */
@media screen and (max-width: 480px) {

	#social-icons{
		width: 192px;
	}
}
